ul li {
  list-style-type: none;
}

.pokemon-articles-container {
  display: flex;
  gap: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
}

.index-options {
  display: flex;
  justify-content: space-around;
}
